<?php

/**
 * Base - Any modification needs to be approved, except the space inside the block of TODO
 */

namespace App\Console\Commands;

use App\Console\Commands\Base\Command;

class TryCommand extends Command
{
    protected $signature = 'try';

    protected function go()
    {
        // TODO: Write something to check if it works

        // TODO
    }
}
