<?php

/**
 * Base - Any modification needs to be approved, except the space inside the block of TODO
 */

namespace App\Http\Controllers\Api;

use App\Http\Controllers\ApiController;
use App\Http\Requests\Request;

class TestApiController extends ApiController
{
    public function test(Request $request)
    {
        // TODO:

        // TODO
    }
}